---
 const personalImageAlt = "Facundo Cortez, Desarrollador Full-Stack";
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Facundo Cortez, soy <strong>Desarrollador Full-Stack</strong> con experiencia construyendo
      aplicaciones web modernas usando Node.js, Next.js, Python y bases de datos SQL/NoSQL.
    </p>

    <p>
      Finalicé una pasantía en <strong>BeCode</strong> , donde desarrollé APIs REST,
      integré funcionalidades con WhatsApp y trabajé con tecnologías como Next.js y TailwindCSS para crear interfaces atractivas y responsivas.
    </p>

    <p>
      También he trabajado en varios <strong>proyectos personales</strong>, desplegándolos en Vercel y 
      gestionando dominios con Namecheap, buscando siempre optimizar el rendimiento, las animaciones, la experiencia del usuario y la satisfacción del cliente.
    </p>

    <p>
      Mi objetivo es seguir creciendo profesionalmente, <strong>aportando soluciones creativas y eficientes</strong>
      que conecten tecnología con necesidades reales.
    </p>
  </div>

  <img 
  width="200" 
  height="200" 
  src="/aboutme.jpg" 
  alt={personalImageAlt} 
  class="order-1 object-cover w-40 md:w-55 p-1 md:order-2 rotate-3 lg:p-2 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
  style="object-position: 50% 50%">
</article>