---
import Badge from '../components/Badges/BadgeBlue.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/Icons/LinkedIn.astro';
import WhatsappIcon from '../components/Icons/Whatsapp.astro';
import MailIcon from "../components/Icons/Mail.astro"

---

			<section class="max-w-xl">
				<figure class="flex justify-items-stretch gap-2.5">
				<img src="../../public/ImagenDeMiCara.jpeg" alt="" class="w-18 h-18 rounded-full object-cover m-1">
				<a href="https://www.linkedin.com/in/facundo-cortez-9814172a1/" class="flex items-center transition md:justify-center md:hover:scale-105"><Badge>Disponible para trabajar </Badge></a>
				
			</figure>
			<h1 class=" text-4xl flex justify-start gap-2">¡Bienvenido!, Soy Facundo <div class="flex justify-center items-center	"></div>
			</h1>
			<p class="text-xl ">
				+2 años de experiencia desarrollando software. <strong>Full stack developer.</strong> De Tucuman, Argentina.
			</p>
			<nav class="flex gap-x-4 mt-8 justify-items-start">
					<SocialPill  href="https://www.linkedin.com/in/facundo-cortez-9814172a1/">
						<LinkedInIcon class="size-6"/>
						Linkedin
					</SocialPill>

					<SocialPill  href="https://wa.me/54938121179973">
						<WhatsappIcon class="size-6"/>
						WhatsApp
					</SocialPill>

					<SocialPill href="mailto:cortezfacundo08@gmail.com" >
						<MailIcon class="size-6"/>
						Contacto
					</SocialPill>
			</nav>
            </section>